In [1]:
import pandas as pd
import numpy as np
from random import randint

# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Display up to 60 columns of a dataframe
pd.set_option('display.max_columns', 60)

# Matplotlib visualization
import matplotlib.pyplot as plt
%matplotlib inline

# Set default font size
plt.rcParams['font.size'] = 24

# Internal ipython tool for setting figure size
from IPython.core.pylabtools import figsize

# Seaborn for visualization
import seaborn as sns
sns.set(font_scale = 2)

# Splitting data into training and testing
from sklearn.model_selection import train_test_split

In [2]:
raw_df = pd.read_csv('credit_train.csv')

In [3]:
raw_df.head()

,Loan ID,Customer ID,LoanStatus,CurrentLoanAmount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35,0,229976,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9,0,256329,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15,0,253460,427174.0,0.0,0.0

In [4]:
raw_df.drop(labels=['Loan ID', 'Customer ID'], axis=1, inplace=True)

In [5]:
def missing_values_table(df):
    
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [6]:
 missing_values_table(raw_df)

Your selected dataframe has 17 columns.
There are 7 columns that have missing values.

                              Missing Values  % of Total Values
Months since last delinquent           53141               53.1
Credit Score                           19154               19.2
Annual Income                          19154               19.2
Years in current job                    4222                4.2
Bankruptcies                             204                0.2
Tax Liens                                 10                0.0
Maximum Open Credit                        2                0.0

In [7]:
raw_df.drop(columns = 'Months since last delinquent', axis=1, inplace=True)

In [8]:
raw_df.shape

(100000, 16)

In [9]:
raw_df[raw_df['Monthly Debt'].isnull() == True]

Empty DataFrame
Columns: [LoanStatus, CurrentLoanAmount, Term, Credit Score, Annual Income, Years in current job, Home Ownership, Purpose, Monthly Debt, Years of Credit History, Number of Open Accounts, Number of Credit Problems, Current Credit Balance, Maximum Open Credit, Bankruptcies, Tax Liens]
Index: []

In [10]:
raw_df.drop(raw_df.tail(514).index, inplace=True)

In [11]:

for i in raw_df['Maximum Open Credit'][raw_df['Maximum Open Credit'].isnull() == True].index:
    raw_df.drop(labels=i, inplace=True)
missing_values_table(raw_df)

Your selected dataframe has 16 columns.
There are 5 columns that have missing values.

                      Missing Values  % of Total Values
Credit Score                   19055               19.2
Annual Income                  19055               19.2
Years in current job            4195                4.2
Bankruptcies                     203                0.2
Tax Liens                         10                0.0

In [12]:
for i in raw_df['Tax Liens'][raw_df['Tax Liens'].isnull() == True].index:
    raw_df.drop(labels=i, inplace=True)
missing_values_table(raw_df)

Your selected dataframe has 16 columns.
There are 4 columns that have missing values.

                      Missing Values  % of Total Values
Credit Score                   19051               19.2
Annual Income                  19051               19.2
Years in current job            4195                4.2
Bankruptcies                     193                0.2

In [13]:
for i in raw_df['Bankruptcies'][raw_df['Bankruptcies'].isnull() == True].index:
    raw_df.drop(labels=i, inplace=True)
missing_values_table(raw_df)

Your selected dataframe has 16 columns.
There are 3 columns that have missing values.

                      Missing Values  % of Total Values
Credit Score                   19013               19.2
Annual Income                  19013               19.2
Years in current job            4195                4.2

In [14]:
raw_df.shape

(99281, 16)

In [15]:
raw_df['Credit Score'] = raw_df['Credit Score'].apply(lambda val: (val /10) if val>800 else val)

In [16]:
print(raw_df['Credit Score'].max())
print(raw_df['Credit Score'].min())

751.0
585.0

In [17]:
raw_df['Credit Score'].fillna(raw_df['Credit Score'].mean(), inplace=True)
raw_df['Annual Income'].fillna(raw_df['Annual Income'].mean(), inplace=True)
missing_values_table(raw_df)

Your selected dataframe has 16 columns.
There are 1 columns that have missing values.

                      Missing Values  % of Total Values
Years in current job            4195                4.2

In [18]:
indexes = np.array(['8 years', '10+ years', '3 years', '5 years', '< 1 year',
           '2 years', '4 years', '9 years', '7 years', '1 year', '6 years'])

In [19]:
for i in raw_df['Years in current job'][raw_df['Years in current job'].isnull() == True].index:
    raw_df['Years in current job'][i] = indexes[randint(0, indexes.size -1)]
    
missing_values_table(raw_df)

Your selected dataframe has 16 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [20]:
raw_df = raw_df.drop(columns='LoanStatus')

In [21]:
raw_df.drop(index=85662,inplace=True)

In [22]:
raw_df.head(10)

,CurrentLoanAmount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,445412,Short Term,709.000000,1.167493e+06,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6,1,228190,416746.0,1.0,0.0
1,262328,Short Term,716.277869,1.378189e+06,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,35,0,229976,850784.0,0.0,0.0
2,99999999,Short Term,741.000000,2.231892e+06,8 years,Own Home,Debt Consolidation,29200.53,14.9,18,1,297996,750090.0,0.0,0.0
3,347666,Long Term,721.000000,8.069490e+05,3 years,Own Home,Debt Consolidation,8741.90,12.0,9,0,256329,386958.0,0.0,0.0
4,176220,Short Term,716.277869,1.378189e+06,5 years,Rent,Debt Consolidation,20639.70,6.1,15,0,253460,427174.0,0.0,0.0
5,206602,Short Term,729.000000,8.968570e+05,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,6,0,215308,272448.0,0.0,0.0
6,217646,Short Term,730.000000,1.184194e+06,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,13,1,122170,272052.0,1.0,0.0
7,648714,Long Term,716.277869,1.378189e+06,< 1 year,Home Mortgage,Buy House,14806.13,8.2,15,0,193306,864204.0,0.0,0.0
8,548746,Short Term,678.000000,2.559110e+06,2 years,Rent,Debt Consolidation,18660.28,22.6,4,0,437171,555038.0,0.0,0.0
9,215952,Short Term,739.000000,1.454735e+06,< 1 year,Rent,Debt Consolidation,39277.75,13.9,20,0,669560,1021460.0,0.0,0.0

In [23]:
raw_df.drop(labels=['Years of Credit History', 'Number of Credit Problems','Tax Liens','Purpose','Current Credit Balance'], axis=1, inplace=True)

In [24]:
raw_df.head(10)

,CurrentLoanAmount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Monthly Debt,Number of Open Accounts,Maximum Open Credit,Bankruptcies
0,445412,Short Term,709.000000,1.167493e+06,8 years,Home Mortgage,5214.74,6,416746.0,1.0
1,262328,Short Term,716.277869,1.378189e+06,10+ years,Home Mortgage,33295.98,35,850784.0,0.0
2,99999999,Short Term,741.000000,2.231892e+06,8 years,Own Home,29200.53,18,750090.0,0.0
3,347666,Long Term,721.000000,8.069490e+05,3 years,Own Home,8741.90,9,386958.0,0.0
4,176220,Short Term,716.277869,1.378189e+06,5 years,Rent,20639.70,15,427174.0,0.0
5,206602,Short Term,729.000000,8.968570e+05,10+ years,Home Mortgage,16367.74,6,272448.0,0.0
6,217646,Short Term,730.000000,1.184194e+06,< 1 year,Home Mortgage,10855.08,13,272052.0,1.0
7,648714,Long Term,716.277869,1.378189e+06,< 1 year,Home Mortgage,14806.13,15,864204.0,0.0
8,548746,Short Term,678.000000,2.559110e+06,2 years,Rent,18660.28,4,555038.0,0.0
9,215952,Short Term,739.000000,1.454735e+06,< 1 year,Rent,39277.75,20,1021460.0,0.0

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [26]:
def get_categorical_and_numeric_columns(df):
    categorical_columns = []
    numeric_columns = []

    for column in df.columns:
        if df[column].dtype == 'object' or pd.api.types.is_categorical_dtype(df[column].dtype):
            categorical_columns.append(column)
        elif column != 'Credit Score':
            numeric_columns.append(column)

    return categorical_columns, numeric_columns


categorical_columns, numeric_columns  = get_categorical_and_numeric_columns(raw_df)
categorical_columns, numeric_columns

(['Term', 'Years in current job', 'Home Ownership'],
 ['CurrentLoanAmount',
  'Annual Income',
  'Monthly Debt',
  'Number of Open Accounts',
  'Maximum Open Credit',
  'Bankruptcies'])

In [27]:
y = raw_df['Credit Score']
x = raw_df.drop(columns = ['Credit Score'])
y_df = pd.DataFrame(y, columns=['Credit Score'])
x_df = pd.DataFrame(x, columns=x.columns)

In [28]:
y_df

       Credit Score
0        709.000000
1        716.277869
2        741.000000
3        721.000000
4        716.277869
...             ...
99481    716.277869
99482    716.277869
99483    742.000000
99484    731.000000
99485    711.000000

[99280 rows x 1 columns]

In [29]:
x_df

,CurrentLoanAmount,Term,Annual Income,Years in current job,Home Ownership,Monthly Debt,Number of Open Accounts,Maximum Open Credit,Bankruptcies
0,445412,Short Term,1.167493e+06,8 years,Home Mortgage,5214.74,6,416746.0,1.0
1,262328,Short Term,1.378189e+06,10+ years,Home Mortgage,33295.98,35,850784.0,0.0
2,99999999,Short Term,2.231892e+06,8 years,Own Home,29200.53,18,750090.0,0.0
3,347666,Long Term,8.069490e+05,3 years,Own Home,8741.90,9,386958.0,0.0
4,176220,Short Term,1.378189e+06,5 years,Rent,20639.70,15,427174.0,0.0
...,...,...,...,...,...,...,...,...,...
99481,464354,Long Term,1.378189e+06,8 years,Home Mortgage,14984.73,15,331760.0,0.0
99482,170610,Short Term,1.378189e+06,< 1 year,Rent,14230.24,9,192874.0,0.0
99483,369446,Short Term,1.313774e+06,2 years,Rent,28136.72,19,1365518.0,0.0
99484,342474,Short Term,1.230440e+06,10+ years,Home Mortgage,5362.56,6,634370.0,1.0
99485,116028,Short Term,6.525740e+05,5 years,Home Mortgage,9298.98,9,334884.0,0.0

In [30]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2, random_state=42)
preprocessor = ColumnTransformer(
    transformers=[
        ('categorical', OneHotEncoder(), categorical_columns),
        ('numeric', StandardScaler(), numeric_columns)
    ])
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', model)
])
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('categorical',
                                                  OneHotEncoder(),
                                                  ['Term',
                                                   'Years in current job',
                                                   'Home Ownership']),
                                                 ('numeric', StandardScaler(),
                                                  ['CurrentLoanAmount',
                                                   'Annual Income',
                                                   'Monthly Debt',
                                                   'Number of Open Accounts',
                                                   'Maximum Open Credit',
                                                   'Bankruptcies'])])),
                ('regressor', LinearRegression())])

In [31]:

y_pred = pipeline.predict(X_test)

In [32]:
from joblib import dump
dump(pipeline,"/Users/yatingoyal/Desktop/Data_signals/mysite/savedmodels/pipeline.joblib")

['/Users/yatingoyal/Desktop/Data_signals/mysite/savedmodels/pipeline.joblib']